{% extends "base.html" %}

{% block content %}
    <h2>Edit Journal Entry from {{ date }} (#{{ id }})</h2>
    <form method="POST" id="edit-form">
        {{ form.hidden_tag() }}  <!-- Include hidden fields, including entry_id -->
        <div class="form-group">
            {{ form.entry.label(class="form-label") }}
            {{ form.entry(class="form-control", rows="4") }}
            
        </div>
        <button type="submit" class="btn btn-primary" id="submit-entry">Submit</button>
    </form>

    <form method="POST" id="delete-form" action="{{ url_for('delete_journal_entry', id=entry.id) }}">
        {{ form.hidden_tag() }}
        <input type="hidden" name="id" value="{{ id }}">
        <button type="submit" class="btn btn-danger" id="delete-entry">Delete Entry</button>
    </form>
    
    

    <a href="{{ url_for('wellness', date=form.date.data) }}">Cancel</a>
</div>


{% endblock %}
