{% extends 'base.html' %}

{% block content %}
    <title>Signup</title>
    <h1>Signup</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }}
            {{ form.username() }}
        </div>
        <div>
            {{ form.email.label }}
            {{ form.email() }}
        </div>
        <div>
            {{ form.password.label }}
            {{ form.password() }}
        </div>
        <div>
            {{ form.confirm_password.label }}
            {{ form.confirm_password() }}
        </div>
        <button type="submit">Sign up</button>
    </form>
    <form action="{{ url_for('demo_login') }}" method="get" style="margin-top: 1em;">
        <button type="submit" class="btn btn-secondary">Demo / Guest Login</button>
    </form>
    <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
{% endblock %}
